<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>入力内容確認画面</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	
	<h2>入力内容確認</h2>
	
	<div th:object="${newRegisterForm}">
		<p>【ユーザーID】</p>
		<p class="info"  th:text="*{userId}"></p>
		<p>【お名前】</p>
		<p th:text="*{userName}"></p>
	    <p>【電話番号】</p>
	    <p class="info"  th:text="*{phoneNumber}"></p>
	    <p>【住所】</p>
	    <p class="info" th:text="*{address}"></p>
	    <p>【暗証番号】</p>
	    <p class="info" th:text="*{passNumber}"></p><br>
	</div>
	
	<form th:action="@{/confirm-regist}" method="POST"
				th:object="${newRegisterForm}">
	    	<input type="hidden" th:field="*{userId}">
			<input type="hidden" th:field="*{userName}">
	    	<input type="hidden" th:field="*{phoneNumber}">
	    	<input type="hidden" th:field="*{address}">
	    	<input type="hidden" th:field="*{passNumber}">
	    	<input type="submit" value="登録実行" class="btn">
	</form>
	
	<form th:action="@{/new-register-ret}" method="POST"
				th:object="${newRegisterForm}">
	    	<input type="hidden" th:field="*{userId}">
			<input type="hidden" th:field="*{userName}">
	    	<input type="hidden" th:field="*{phoneNumber}">
	    	<input type="hidden" th:field="*{address}">
	    	<input type="hidden" th:field="*{passNumber}">
	    	<input type="submit" value="もどる" class="btn">
	</form>

</body>
</html>