<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>入力内容確認画面</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	
	<h1>入力内容確認</h1>
	
	<div th:object="${newRegisterForm}">
		【ユーザーID】<br>
		<p th:text="*{userId}"></p><br><br>
		【お名前】<br>
		<p th:text="*{userName}"></p><br><br>
	   	【電話番号】<br>
	   	<p th:text="*{phoneNumber}"></p><br><br>
	   	【住所】<br>
	   	<p th:text="*{address}"></p><br><br>
	   	【暗証番号】<br>
	   	<p th:text="*{passNumber}"></p><br><br>
	</div>
	
	<form th:action="@{/confirm-regist}" method="POST"
				th:object="${newRegisterForm}">
	    	<input type="hidden" th:field="*{userId}">
			<input type="hidden" th:field="*{userName}">
	    	<input type="hidden" th:field="*{phoneNumber}">
	    	<input type="hidden" th:field="*{address}">
	    	<input type="hidden" th:field="*{passNumber}">
	    	<input type="submit" value="登録実行" class="btn">
	</form>
	
	<form th:action="@{/new-register-ret}" method="POST"
				th:object="${newRegisterForm}">
	    	<input type="hidden" th:field="*{userId}">
			<input type="hidden" th:field="*{userName}">
	    	<input type="hidden" th:field="*{phoneNumber}">
	    	<input type="hidden" th:field="*{address}">
	    	<input type="hidden" th:field="*{passNumber}">
	    	<input type="submit" value="もどる" class="btn">
	</form>

</body>
</html>