<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>入金</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>


	<div class="alignment">
		<form th:action="@{/result-deposit}" method="POST" th:object="${taskForm}">
			<p>【入金額】</p>
			<input type="text" name="valueDeposit" required="required"><br>
			<br>
			<div class="alignment">
				<button type="button" class="btn" onclick="history.back()">戻る</button>
				<input type="submit" value="次へ" class="btn">
				
			</div>
		</form>
	</div>

</body>

</html>