<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>history</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	
	<h2>取引履歴一覧</h2>
	
	<div th:if="${#lists.isEmpty(historyList)}">
		<p>取引履歴がありません。</p>
	</div>
	
	<div class="alignment" th:unless="${#lists.isEmpty(historyList)}">
		<table>
			<tr>
				<th>日付</th><th>取引種別</th><th>金額</th><th>口座残高</th><th>備考</th>
			</tr>
		
			<tr th:each="history : ${historyList}">
				<td th:text="${history.date}"></td>
				<td th:text="${history.type}"></td>
				<td th:text="${#numbers.formatInteger(history.amount, 1, 'COMMA')}"></td>
				<td th:text="${#numbers.formatInteger(history.balance, 1, 'COMMA')}"></td>
				<td th:text="${history.remarks}"></td>
			</tr>
		</table>
	</div>
	
	<div class="alignment">
			<button  type="button"  class="btn" onclick="history.back()">戻る</button>
	</div>
</body>
</html>