<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Tsukumo Bank</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<h2>ログイン</h2>
	
	<div class="alignment">
	<form th:action="@{/user_search}" method="POST"
			th:object="${loginForm}">
		<p>【ユーザーID】</p>
		<input type="text" th:field="*{userId}" required="required"><br>
		<br>
		<p>【パスワード】</p>
		<input type="text" th:field="*{passNumber}" required="required"><br>
		<br>
		<input  type="submit" value="次へ" class="btn">
		<button  type="button"  class="btn" onclick="history.back()">戻る</button>
	</form>
	</div>
</body>

</html>