<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Tsukumo Bank</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<h2>登録画面</h2>


	<form th:action="@{/regist-review}" method="POST"
		th:object="${newRegisterForm}">
		<p>【ユーザーID】</p>
		<input type="text" th:field="*{userId}"
			required="required"><br>
		<p>【お名前】</p>
		<input type="text" th:field="*{userName}"
			required="required"><br>
		<p>【電話番号】</p>
		<input type="text" th:field="*{phoneNumber}"
			required="required"><br>
		<p>【住所】</p>
		<input type="text" th:field="*{address}"
			required="required"><br>
		<p>【暗証番号】</p>
		<input type="text" th:field="*{passNumber}"
			required="required"><br>
		<br>
		<input type="submit" value="次へ" class="btn">
	</form>
</body>

</html>