<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Tsukumo Bank</title>
</head>

<body>
	<h1>画面</h1>


	<form th:action="@{/regist-review}" method="POST"
		th:object="${newRegisterForm}">
		【ユーザーID】<br>
		<input type="text" th:field="*{userId}"
			required="required"><br>
		<br>
		【電話番号】<br>
		<input type="text" th:field="*{phoneNumber}"
			required="required"><br>
		<br>
		【住所】<br>
		<input type="text" th:field="*{address}"
			required="required"><br>
		<br>
		【暗証番号】<br>
		<input type="text" th:field="*{passNumber}"
			required="required"><br>
		<br>
		<input type="submit" value="次へ" class="btn">
	</form>
</body>

</html>