<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>機能選択</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	
	<h2>お取引の選択</h2>
	
		<form th:action="@{/deposit}" method="POST">
			<input type="submit" value="入金" class="btn">
		</form>
		
		<form th:action="@{/withdrawal}" method="POST">
			<input  type="submit" value="出金" class="btn">
		</form>
		
		<form th:action="@{/sending}" method="POST">
			<input type="submit" value="送金" class="btn">
		</form>	
		
</body>
</html>