<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>送金</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

	<div class="alignment">
		<form th:action="@{/confirm-sending}" th:object="${sendingForm}" method="POST">
			<p>【振込先ユーザID】</p>
			<input type="text" th:field="*{forwarding_userId}" required="required"><br>
			<br>
			<p>【振込金額】</p>
			<input type="number" th:field="*{amount}" required="required"><br>
			<input type="hidden" th:field="*{userId}">
			<br>
			<div class="alignment">
				<button type="button" class="btn" onclick="history.back()">戻る</button>
				<input type="submit" value="次へ" class="btn">
			</div>
		</form>
	</div>
</body>

</html>