<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>送金</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

	<div class="alignment">
		<form th:action="@{/result-sending}" method="POST">
			<p>【振込先口座番号】</p>
			<input type="text" name="bankTransferId" required="required"><br>
			<br>
			<p>【振込金額】</p>
			<input type="number" name="valueSend" required="required"><br>
			<br>
		</form>
	</div>
		<div class="alignment">
			<form th:action="@{/result-sending}" method="POST">
				<input type="submit" value="次へ" class="btn">
			</form>
			<button type="button" class="btn" onclick="history.back()">戻る</button>
		</div>


</body>

</html>