@charset "UTF-8";



body {
	background: linear-gradient(90deg,#440d79,#67afe6);
	background-size: 200% 200%;
	animation: 3s ease-in 3s infinite alternate forwards running gradientAnimation
}

@keyframes gradientAnimation {
	0% {
		background-position: 0% 50%;
	}

	100% {
		background-position: 100% 50%;
	}
}

.title {
	position: relative;
	top: 1rem;
	text-align: center;
	font-size: 50px;
	font-family: MS PGothic;
	color: #ffffff;
	animation: bounce 1s infinite;
}

@keyframes bounce {
	0% {
		transform: translateY(0);
	}

	30% {
		transform: translateY(-30px);
	}

	50% {
		transform: translateY(0);
	}

	70% {
		transform: translateY(-15px);
	}

	100% {
		transform: translateY(0);
	}
}

h1 {
	
}

.loginuser {
	text-align: left;
	color: white;
	font-size: 15px;
	color: #5bf8ce;
	outline: #440d79;
}


h2 {
	text-align: center;
	font-size: 28px;
	color: white;
	padding-top: 6px;
	padding-bottom: 6px;
}



.btn-primary {
	position: relative;
	top: 1rem;
	display: inline-flex;
	padding: 0.5em 1em;
	font: inherit;
	color: #130c12;
	text-align: left;
	background-color: whitesmoke;
	border: 0;
	border-radius: 0.25em;
}

.alignment {
	display: flex;
	justify-content: space-around;
	margin: 10%;
}

.btn:hover {
	color: #5bf8ce;
	background-color: #a2a9b1;
}

.btn{

	display: flex;
	justify-content: space-evenly;
	padding: 0.5em 1em;
	font: inherit;
	color: #130c12;
	text-align: left;
	background-color: whitesmoke;
	border: 0;
	border-radius: 0.25em;
}

p{
	color: white;
}

.info{
	color: blueviolet;
	font: inherit;
	font-size: 28px;
	background-color: #ffffff;
}

a{
	color: #ffffff;
}

table {
	border: 1px solid #5e696c;
	margin-left: auto;
	margin-right: auto;
	width: 80%; 					/* テーブル横幅 */
	border-collapse:  collapse; 	/* 境界線を共有 */
	
	text-align:center; 
}

